@media(max-width:1400px){
    .headtab{
        margin: 411px 30px 0 30px;
    
    }
    .lamp01{
        top: 27px;
    
    }
    plant01 {
        top: 99%;
    }
    .books {
        margin-top: -148px;
    }
    .table01 {
        top: 473%;
    }
    
    .table02 {
    top: 475%;
    }

        
    
    
}